// bower:scss
// endbower
@import "fonts.scss";
@import "animation.scss";
 $Raleway:'Raleway';
 $Roboto:'Roboto';
 $AppColor:#2196F3;
 $ContentHeight1:91.25%;
 $ContentHeight2:83.75%;
 body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .container {
    width: inherit;
    height: inherit;
    overflow: hidden;
    #app {
      width: inherit;
      height: inherit;
      position: absolute;
      overflow: hidden;
    }
  }
}
md-content {
  &.page-content {
    height: $ContentHeight1;
    &-less {
      height: $ContentHeight2;
    }
  }
}
//##################################################################
//Toolbar
//##################################################################
md-toolbar.app-toolbar {
  background-color: $AppColor;
  z-index: 5;
  height: 56px;
  min-height: 56px;
  .md-toolbar-tools {
    height: 56px;
    min-height: 56px;
    padding: 0 0 0 0;
    i {
      font-size: 24px;
      color: white;
    }
    span {
      padding-bottom: 4px;
    }
  }
}
.md-sidenav-left {
  .md-toolbar-tools {
    padding: 0 16px;
  }

  md-content {
    padding-left: 0px;
    i {
      font-size: 24px;
      &.icon-automobile,
      &.icon-calculator {
        font-size: 20px;
      }
    }
    span {
      font-size: 14px;
      font-weight: 700;
    }
    .md-button {
      color: rgba(0, 0, 0, 0.56);
      padding: 8px 0 8px 0;
      text-transform: none;
    }
  }
}
//##################################################################
//Login
//##################################################################
md-content.login {
  background-color: $AppColor;
  height: 100%;
  overflow: hidden;
  .text-input {
    display: flex;
    i {
      font-size: 1.5em;
      padding-top: 20px;
      padding-right: 10px;
      color: #1565C0;
    }
    md-input-group {
      padding: 2px 0 2px 0;
      input {
        color: #1565C0;
      }
      &.md-input-focused {
        label {
          color: rgba(0, 0, 0, 0.26);
        }
        input {
          border-color: rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
  .logo {
    font-size: 128px;
    color: white;
  }
  .welcome {
    color: white;
    text-align: center;
    font-family: $Raleway;
    .title {
      font-size: 2em;
      font-weight: 500;
    }
    .text {
      font-size: 1.5em;
    }
  }
  .buttons {
    padding: 20px 0 20px 0;
    .md-button {
      color: white;
      font-family: $Roboto;
      font-weight: 500;
      &.skip {
        color: #1565C0;
        padding-right: 16px;
      }
    }
  }
}
//##################################################################
//Home
//##################################################################
 md-content.home {
  background-color: $AppColor;
  .home-text {
    text-align: center;
    font-family: $Raleway;
    color: white;
    .h {
      font-size: 32px;
    }
    .p {
      font-size: 24px;
    }
  }
  .grid {
    padding-top: 20px;
    padding-bottom: 20px;
    .home-col {
      text-align: center;
      font-family: $Raleway;
      color: white;
      i {
        color: #BBDEFB;
        font-size: 64px;
        &.right {
          font-size: 56px;
          padding-bottom: 5px;
          padding-top: 2px;
        }
      }
    }
  }
  .bottom {
    border-top: 1px solid #e5e5e5;
  }
  .left {
    border-right: 1px solid #e5e5e5;
    border-radius: 0px;
  }
  .disclaimer {
    span {
      color: #1565C0;
    }
  }
}
//##################################################################
//LoanList
//##################################################################
 .shrinkable-toolbar {
  background-color: #e5e5e5;
  z-index: 1;
  height: 48px;
  min-height: 48px;
  .md-toolbar-tools {
    height: 48px;
    min-height: 48px;
    font-size: 14px;
    .shrinkable-toolbar-input {
      padding-bottom: 8px;
      input {
        width: 80px;
        line-height: 20px;
      }
    }
    .md-button {
      color: $AppColor;
    }
    i {
      color: #666666;
      font-size: 20px;
    }
  }
}
md-divider[inset] {
  margin-left: 5%;
  margin-right: 5%;
}
.md-tile-content p,
h3 {
  font-family: $Raleway;
  text-align: center;
}
.search-result {
  padding-left: 16px;
  i {
    color: #666666;
    padding-right: 3px;
  }
}
.md-fab {
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: 9;
  i {
    font-size: 24px;
  }
}
.circle {
//  margin-left: auto;
//  margin-right: auto;
  border-radius: 50%;
  width: 100%;
  position: relative;
}
.circle-border {
  border: 3px solid #37cde7;
}
.circle-solid {
  background-color: #37cde7;
}
.circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.circle-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.circle-inner div {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1em;
  line-height: 1em;
  font-size: 2em;
  color: white;
  font-family: $Roboto;
  font-weight: 700;
}
//.circle-text:after {
//  content: "";
//  display: block;
//  width: 100%;
//  height: 0;
//  padding-bottom: 100%;
//  background: #37cde7;
//  -moz-border-radius: 50%;
//  -webkit-border-radius: 50%;
//  border-radius: 50%;
//}
//
//.circle-text div {
//  float:left;
//  width:100%;
//  padding-top:50%;
//  line-height:1em;
//  margin-top:-0.5em;
//  text-align:center;
//  color:white;
//  font-size: 2em;
//  font-family: $Raleway;
//}
//##################################################################
//LoanDetails
//##################################################################
.loan-details {
  padding: 16px;
  .details {
    font-family: $Raleway;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    i {
      font-size: 16px;
    }
    .icon-bank {
      padding-bottom: 2px;
    }
    .icon-inr.compare {
      font-size: 14px;
    }
//    div {
//      padding-top: 1px;
//    }
  }
}
.emi-details {
  font-family: $Raleway;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  h2 {
    font-family: '';
    font-size: 0.9em;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.26);
    padding: 0.9em 0px 0.9em 16px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.12);
    border-top: 2px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3
  }
  .emi {
    padding: 16px;
    .emi-label {
      font-weight: 500;
    }
  }
  .time-graph {
    padding: 16px;
    .ct-chart {
      .ct-label.ct-horizontal {
        text-align: center;
      }
      .ct-series .ct-bar {
        stroke-width: 20px;
      }
    }
  }
}
