<toolbar></toolbar>
<md-content class="page-content" layout="column">
  <md-content flex>
    <div class="loan-details" layout="row" layout-align="center center">
      <div class="bank-logo" flex="33" layout="row" layout-align="start center">
        <div class="circle circle-solid" style="width: 80px;">
          <div class="circle-inner">
            <div>{{initial(loan.name)}}</div>
          </div>
        </div>
      </div>

      <div class="details" flex>
        <div layout="row" layout-align="start center">
          <i class="icon-bank" flex="10"></i>
          <span flex>{{loan.name}}</span>
        </div>
        <div layout="row" layout-align="start center">
          <i class="icon-inr" flex="10" style="align-self: flex-end;"></i>
          <span flex>{{principal | currency:"":"0"}}</span>
        </div>
        <div layout="row" layout-align="start center">
          <i class="icon-at" flex="10"></i>
          <span flex>{{loan.rate}}% p.a.<span ng-show="loan.processingFee">
             + {{loan.processingFee}}% p. fee
          </span></span>
        </div>
        <div layout="row" layout-align="start center">
          <i class="icon-clock" flex="10"></i>
          <span flex>{{time}} years</span>
        </div>
      </div>
    </div>

<!--    <md-divider inset></md-divider>-->

    <div class="emi-details">
      <section>
        <h2>EMI Details</h2>
        <div class="emi" flex layout="column">
          <div layout="row" layout-align="start center">
            <!--            <span flex="10"></span>-->
            <span class="emi-label" flex="33">EMI</span>
            <span flex><i class="icon-inr"></i> {{EMI() | currency:"":"0"}}</span>
          </div>
          <div layout="row" layout-align="start center">
            <!--            <span flex="10"></span>-->
            <span class="emi-label" flex="33">Net Interest</span>
            <span flex><i class="icon-inr"></i> {{netInterest() | currency:"":"0"}}</span>
          </div>
          <div layout="row" layout-align="start center">
            <!--            <span flex="10"></span>-->
            <span class="emi-label" flex="33">Total Payable</span>
            <span flex><i class="icon-inr"></i> {{netPayable() | currency:"":"0"}}</span>
          </div>
        </div>
      </section>
      <section>
        <h2>Interest vs Time</h2>
        <div class="time-graph">
          <chartist class="ct-chart ct-golden-section" chartist-data="barData" chartist-chart-type="Bar" chartist-chart-options="barOptions" chartist-events="events"></chartist>
        </div>
      </section>
      <section>
        <h2>Get Loan</h2>
        <div class="get-loan">

        </div>
      </section>
    </div>
  </md-content>
</md-content>
